/* Payment Area */

/* Info */

#checkout-container {
	min-height: calc(100vh - 80px);
	padding: 1.5rem 0;
	display: flex;
	align-items: center;
}

#checkout {
	display: flex;
	gap: 2rem;
	flex: 1;
}

#checkout .data {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 50%;
}

#checkout .data h2 {
	font-weight: 400;
	text-transform: capitalize;
}

#checkout .data form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#checkout .data form .group {
	display: flex;
	gap: 0.8rem;
}

#checkout .data form .group .field {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#checkout .data form .group .field label {
	font-weight: 200;
}

#checkout .data form .btn {
	width: 100%;
}

#checkout .data .payment-type {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#checkout .data .payment-type h3 {
	font-weight: 400;
	text-transform: capitalize;
}

#checkout .data .payment-type .list {
	display: grid;
	grid-template-columns: repeat(3, 32%);
	column-gap: 2%;
}

#checkout .data .payment-type .list .type {
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	border-radius: 0.2rem;
	padding: 0.5rem;
	cursor: pointer;
	opacity: 0.6;
	transition: all 0.3s ease;
}

#checkout .data .payment-type .list .type.active {
	border: 1px solid rgba(0, 0, 0, 0.3);
	opacity: 1;
}

#checkout .data .payment-type .list .type:hover {
	opacity: 1;
}

#checkout .data .payment-type .list .type img {
	height: 32px;
}

/* Items */

#checkout .items {
	flex: 50%;
}

#checkout .items .products {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#checkout .items .products h2 {
	font-weight: 400;
	text-transform: capitalize;
}

#checkout .items .products .list {
	gap: 1rem;
	display: flex;
	flex-direction: column;
	max-height: 400px;
	overflow-y: scroll;
	padding: 0.5rem;
}

#checkout .items .products .total {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 1.5rem 0;
}

#checkout .items .products .total p {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#checkout .items .products .total p:nth-child(3) {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding-top: 0.5rem;
}

#checkout .items .products .total p span:nth-child(1) {
	font-weight: 500;
	text-transform: uppercase;
}

#checkout .items .products .total p span:nth-child(2) span:nth-child(1) {
	font-size: 0.8rem;
}

#checkout .items .products .total p span:nth-child(2) span:nth-child(2) {
	font-size: 1.1rem;
	font-weight: 300;
}

#checkout .items .promotional-code {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#checkout .items .promotional-code h4 {
	font-weight: 400;
	text-transform: capitalize;
}

#checkout .items .promotional-code form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#checkout .items .promotional-code form .btn-success {
	width: 100%;
}

/* Media Queries */

@media screen and (max-width: 860px) {
	#checkout {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 576px) {
	#checkout .data form .group {
		flex-direction: column;
	}
}
