/* Footer */

footer {
	box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.05);
	padding: 4rem 0;
}

#footer-content {
	display: grid;
	grid-template-columns: repeat(3, 32%);
	column-gap: 2%;
}

#footer-content h5 {
	font-size: 1.5rem;
	font-weight: 300;
}

#footer-content .footer-col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#footer-content .footer-col:nth-child(1) p {
	font-weight: 200;
	line-height: 1.8;
}

#footer-content .footer-col ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-weight: 200;
}

#footer-content form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#footer-content #social-media ul {
	display: flex;
	flex-direction: row;
	padding-top: 3rem;
	gap: 4rem;
}

#footer-content #social-media img {
	height: 32px;
	transition: all 0.3s ease-in-out;
}

#footer-content #social-media a:hover img {
	transform: scale(1.1);
}

#bottom-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: 1px solid var(--alt-text-color);
}

#bottom-footer p {
	display: flex;
	align-items: flex-end;
	gap: 0.3rem;
	font-weight: 300;
}

#bottom-footer img {
	height: 16px;
}

#bottom-footer span {
	font-weight: 500;
}
