@import 'global.css';
@import 'cart.css';
@import 'navbar.css';
@import 'banner.css';
@import 'products-area.css';
@import 'footer.css';

/* Media Queries */

@media screen and (max-width: 1180px) {
	/* Products List */

	.product-card {
		height: 550px;
	}
}

@media screen and (max-width: 950px) {
	/* Navbar */

	#navbar {
		flex-wrap: wrap;
		height: auto;
	}

	#toggle-menu {
		display: flex;
	}

	.nav-menu,
	.search,
	.status {
		display: none;
	}

	/* Mobile Menu */

	#mobile-menu {
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		padding: 1.5rem 0;
	}

	#mobile-menu.toggle-visibility {
		display: flex;
	}

	.nav-menu.mobile-menu,
	.search.mobile-menu,
	.status.mobile-menu {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.nav-menu.mobile-menu ul {
		flex-direction: column;
	}

	.search.mobile-menu form {
		width: 100%;
		position: relative;
	}

	.search.mobile-menu form input {
		width: 100%;
	}

	.search.mobile-menu form button {
		position: absolute;
		right: 0.5rem;
		top: 0.1rem;
	}

	/* Products List */

	.product-card {
		height: 450px;
	}

	.product-card .info p span:nth-child(1) {
		font-size: 0.8rem;
	}

	.product-card .info p span:nth-child(2) {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 880px) {
	/* Products List */

	.product-card {
		height: 350px;
	}

	/* Footer */

	#footer-content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	#footer-content form button {
		width: 100%;
	}
}

@media screen and (max-width: 780px) {
	/* Products List */

	#products-container {
		grid-template-columns: 32% 32% 32%;
		column-gap: 2%;
	}

	.product-card {
		height: 480px;
	}
}

@media screen and (max-width: 620px) {
	/* Products List */

	#products-container {
		grid-template-columns: 48% 48%;
		column-gap: 4%;
	}

	.product-card {
		height: 580px;
	}
}

@media screen and (max-width: 576px) {
	/* Banner */

	#banner .info {
		text-align: center;
	}

	#banner .info h1 {
		font-size: 3rem;
	}

	#banner .info a {
		width: 100%;
	}

	/* Products List */

	#products-container {
		grid-template-columns: 100%;
		/* column-gap: 4%; */
	}

	.product-card {
		height: 780px;
	}

	/* Footer */

	#footer-content #social-media ul {
		width: 100%;
		justify-content: space-around;
	}
}
